*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-box{
    background-color: rgb(42, 65, 149);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-box-psw{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

}

.psw{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    padding: 20px;
    background-color: rgb(35, 55, 138);
    border-style: inset;
    color: white;
}

.length{
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-top: 0px;
}

.range {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(35, 55, 138);
    padding: 10px;
    border-radius: 10px;
}

.range p {
    margin: 8px 8px;
    color: white;
}

.btn{
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(35, 55, 138);
    border-style:solid;
    color: white;
}

.btn:hover{
    border-style:solid;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;s
}


::-webkit-input-placeholder { 
    text-align: center;
    vertical-align: center;
}